.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.head {
    display: flex;
    background-color: gainsboro;
    border-bottom: 1px black solid;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.head h1 {
    font-size: 20px;
}

.listaPastura {
    display: flex;
    margin-top: 70px;
    margin-bottom: 30px;
    flex-direction: column;
}

.footer {
    grid-area: foot;
    background-color: black;
    height: 95px;
}

.btnAgregar {
    width: 10%;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-right: 50px;
}

